{% extends "model.html" %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-header" style="height:60px">
                <h5>Español</h5>
            </div>
            <div class="card-body">
                <p class="card-text" style="height: 138px; margin: 50px; padding:50px;">{{español}}</p>
          </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center">
            <div class="card-header" style="height:60px">
                <h5>Inglés</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group" style="height: 138px; margin: 50px 50px 50px 50px; padding:50px;">
                            <input type="text" class="form-control" id="formGroupExampleInput" name="res" placeholder="Example input placeholder">
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}